*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --btnRedColor: #F71735;
    --subcribeHoverColor: #fcb900;
    --logoHeadingFont: "Raleway", sans-serif;
    --HeadingFontSize: 24px;
    --logoFontWeight: 700;
    --logoFontSize: 30px;
    --paraFont: "Nunito", sans-serif;
    --paraHetLinkFontWeight: 700;
    --paraHetLinkFontSize: 17px;
    --grayBgColor: #F8F8F8;
    --h1FontSize: 46px


}

body{
    font-family:var(--paraFont);
}

h1,h2,h3{
    font-family: var(--logoHeadingFont);
}

h1{
    font-size: var(--h1FontSize);
    font-weight: var(--logoFontWeight);
    line-height: 56px;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navContent{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.navContent ul li{
    display: inline-block;
    margin-inline: 10px;
    position: relative;
    overflow: hidden;
}

.navContent .logo{
    font-family: var(--logoHeadingFont);
    font-weight: var(--logoFontWeight);
    font-size: var(--logoFontSize);
}

.navContent .logo span{
    color: var(--btnRedColor);
    font-family: var(--paraFont);
}



.navContent li a{
    font-family: var(--paraFont);
    color: black;
    font-weight: var(--paraHetLinkFontWeight);
    font-size: var(--paraHetLinkFontSize);
    display: inline-block;
    padding-bottom: 2px;
    transition: color linear 200ms;
}

.hr{
    height: 1px;
    background-color: var(--btnRedColor);
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform linear 200ms;
}

.navContent li .active{
    color: var(--btnRedColor);
}

.navContent li a:hover{
    color: var(--btnRedColor);
}

.navContent li a:hover ~ .hr{
    transform: translateX(0%);

}


.searchctaCont{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navContent .searchCont,.ctaBtn,.hamburgerCont,.fa-moon{
    cursor: pointer;
}

.navContent .searchCont,.hamburgerCont{
    background-color: var(--grayBgColor);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 300ms ease-in-out;

}   

#checkbox{
        display: none;
}

.navContent .searchCont:hover{
    background-color: var(--btnRedColor);
    color: white;
}

.searchctaCont .ctaBtn, button{
    border: none;
    font-size: var(--paraHetLinkFontSize);
    font-weight: var(--paraHetLinkFontWeight);
    color: white;
    background-color: var(--btnRedColor);
    padding: 15px 40px;
    border-radius: 10px;
    transition: background 300ms ease-in-out;
}

.searchctaCont .ctaBtn:hover{
    background-color: #be0a22
}

.navContent .hamburgerCont{
    border-radius: 10px;
    background-color: var(--btnRedColor);
    color: white;
    display: none;
}

.searchctaCont  .fa-moon{
    font-size: 20px;
}

/* Header style beginning */

header{
    background: rgba(0, 0, 0, 0.688) url(https://wp.w3layouts.com/photoflash/wp-content/themes/Photoflash/assets/images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    padding-block: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.fa-camera{
    font-size:clamp(
        35px,5vw,var(--h1FontSize)
    );
    padding-bottom: 20px;
}

.headerContent{
    max-width: 650px;
}

.headerText{
    margin-bottom: 40px;
    line-height: 1.2;
    font-size: clamp(
        28px,5vw,var(--h1FontSize)
    );
}

.searchCont{
    display: flex;
}

.headerSearchBox{
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    margin-right: 10px;
}

.headerSearchBox::placeholder{
    font-size: 20px;
}

.headerSearchBox + button{
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* Header style ending  */


/* Section 1 style beginning  */
.section1{
    height: 100vh;
}
/* Section 1 style ending  */



@media (max-width: 1300px){
    .container{
        padding-inline: 3%;
    }
}


/* Mobile Design */
@media (max-width: 1000px){
    
    .navContent ul li{
        display: block;
        padding-block: 10px;
    }
    .navContent ul{
        position: fixed;
        background-color: white;
        top: -220px;
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;   
        padding-bottom: 20px;
        transition: top ease-in-out 500ms;     

    }

    .hr{
        display: none;
    }

    .navContent .hamburgerCont{
        display: flex;
    }

    #checkbox{
        display: none;
    }

    #checkbox:checked ~ ul{
        top: 80px;
    }

    .navContent .searchCont,.ctaBtn{
        display: none;
    }

    header{
        height: 90vh;
    }

    .headerContent{
        padding-inline: 3%;
    }


}
